nav(class="navbar navbar-expand-lg navbar-light bg-light mb-3")
        a(class="navbar-brand" href="/") YelpCamp
        
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")/
        
        div(class="collapse navbar-collapse" id="navbar")
            ul(class="navbar-nav ml-auto")
                unless (currentUser)
                    li(class="nav-item mx-2")
                        a(class="btn btn-outline-primary" href="/login") Login
                    li(class="nav-item mx-2")
                        a(class="btn btn-outline-primary" href="/register") Register
                
                if (currentUser)
                    li(class="nav-item mx-2")
                        a(class="nav-link") Welcome, #{currentUser.username}
                    li(class="nav-item mx-2")
                        a(class="btn btn-outline-primary" href="/logout") Logout