extends base

block vars
    - const style = '/css/landing.css'

block body
    div#landing-header
        h1 Landing Page
        p Welcome to Yelp Camp!
        a(href="/campgrounds" class="btn btn-primary btn-lg") View All Campgrounds
    
    ul(class="slideshow")
      - for (let i = 0; i < 5; i++)
        li